@(produto: Produto)

@main("Produto"){
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item active">Ações</a>
                <a href="@routes.ProdutoController.novo()" class="list-group-item">Novo</a>
                <a href="@routes.ProdutoController.listar(1)" class="list-group-item">Lista de Produtos</a>
            </div>
        </nav>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">Cadastro de Produtos</div>
                <div class="panel-body">
                    <form class="form-inline" action="@routes.ProdutoController.atualizar(produto.id)" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Código" name="id" required="required" value="@produto.id" readonly >
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome Produto" name="nome" required="required" value="@produto.nome">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Valor" name="valor" required="required" maxlength="15" value="@produto.valor">
                        </div>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
}